{% extends 'base.html.twig' %}

{% block title %}New CrudSupport{% endblock %}

{% block body %}
    <h1>Create new CrudSupport</h1>

    {{ include('crud_support/_form.html.twig') }}

    <a href="{{ path('crud_support_index') }}">back to list</a>
{% endblock %}
